---

# Challenge 1.1 üç∞

Create a **`list`** that contains the numbers from <b>`0 and 99`</b>, all inclusive.

In [1]:
# your code here

### Solutions

In [16]:
# with for loop
res = []

for i in range(100):
    
    res.append(i)
        
print(res)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [19]:
# list comprehension
res = [i for i in range(100)]

print(res)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [20]:
# with range
res = list(range(100))

print(res)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

# Challenge 1.2 ü¶î
Create a **`list`** that contains the numbers **`0 to 99`**, where the sequence repeats **`100`** times.

***`i.e.:`*** `[0, 1, 2, ..., 98, 99, 0, 1, 2, ..., 98, 99 ]`,

where the pattern repeats **100** times.

In [ ]:
# your code here

### Solutions

In [28]:
# two loops

res = []

for _ in range(100):
    
    for i in range(100): 
        
        res.append(i)

print(res[:110], '...\n')

print(len(res))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9] ...

10000

In [27]:
# multiply list

res = list(range(100)) * 100

print(res[:110], '...\n')

print(len(res))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9] ...

10000

---
# Challenge  2.1 üß≠
Create a **`list`** of all numbers from **`99 to 0`** in descending order.

***`Bonus`*** for using a list comprehension.

In [ ]:
# your code here

### Solutions

In [29]:
# DIY

res = []

for i in range(100):

    res.append(99-i) # subtract index
    
print(res)

[99, 98, 97, 96, 95, 94, 93, 92, 91, 90, 89, 88, 87, 86, 85, 84, 83, 82, 81, 80, 79, 78, 77, 76, 75, 74, 73, 72, 71, 70, 69, 68, 67, 66, 65, 64, 63, 62, 61, 60, 59, 58, 57, 56, 55, 54, 53, 52, 51, 50, 49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [30]:
# with reversed()

res = []

for i in reversed(range(100)): # use built-in reversed() function

    res.append(i)
    
print(res)

[99, 98, 97, 96, 95, 94, 93, 92, 91, 90, 89, 88, 87, 86, 85, 84, 83, 82, 81, 80, 79, 78, 77, 76, 75, 74, 73, 72, 71, 70, 69, 68, 67, 66, 65, 64, 63, 62, 61, 60, 59, 58, 57, 56, 55, 54, 53, 52, 51, 50, 49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [33]:
# one-liner

res = list(reversed(range(100)))

print(res)

[99, 98, 97, 96, 95, 94, 93, 92, 91, 90, 89, 88, 87, 86, 85, 84, 83, 82, 81, 80, 79, 78, 77, 76, 75, 74, 73, 72, 71, 70, 69, 68, 67, 66, 65, 64, 63, 62, 61, 60, 59, 58, 57, 56, 55, 54, 53, 52, 51, 50, 49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

# Challenge 2.2 üìê

Consider a pyramid where each layer is constructed with numbers from **`0 to 9`**:

```
0
11
222
3333
 ‚ãÆ
9999999999
00000000000
111111111111
```

**`Print`** two pyramids, one with **`10`** layers and one with **`20`** layers.

**`Hint:` %**

In [ ]:
# your code here

### Solutions

In [40]:
# for only 10 levels slightly easier

for i in range(10):
    
    n = str(i) # number to print for line (as string)
    rep = (i + 1) # how many times the repeats
    
    print(n * rep)

0
11
222
3333
44444
555555
6666666
77777777
888888888
9999999999

In [41]:
# beyond 10 levels requires modulus

for i in range(20):
    
    n = str(i % 10) # number to print for line (as string)
    rep = (i + 1) # how many times the repeats
    
    print(n * rep)

0
11
222
3333
44444
555555
6666666
77777777
888888888
9999999999
00000000000
111111111111
2222222222222
33333333333333
444444444444444
5555555555555555
66666666666666666
777777777777777777
8888888888888888888
99999999999999999999

---
# Challenge  3.1üé£
Create a **`list`** of the numbers from <b>`0 to 99`</b> except for multiples of <b>`3`</b> and <b>`5`</b>.

***`i.e.:`*** `[1, 2, 4, 6, 7, 8, 11, ...]`

**`Hint:` %**

In [ ]:
# your code here

### Solutions

In [50]:
# for loop

res = []

for i in range(100):
    
    if (i % 3 != 0) and (i % 5 != 0): # modulus condition
    
        res.append(i)
        
print(res)

[1, 2, 4, 7, 8, 11, 13, 14, 16, 17, 19, 22, 23, 26, 28, 29, 31, 32, 34, 37, 38, 41, 43, 44, 46, 47, 49, 52, 53, 56, 58, 59, 61, 62, 64, 67, 68, 71, 73, 74, 76, 77, 79, 82, 83, 86, 88, 89, 91, 92, 94, 97, 98]

In [67]:
# list comprehensions

res = [i for i in range(100) if all(i % x != 0 for x in [3, 5])]

print(res)

[1, 2, 4, 7, 8, 11, 13, 14, 16, 17, 19, 22, 23, 26, 28, 29, 31, 32, 34, 37, 38, 41, 43, 44, 46, 47, 49, 52, 53, 56, 58, 59, 61, 62, 64, 67, 68, 71, 73, 74, 76, 77, 79, 82, 83, 86, 88, 89, 91, 92, 94, 97, 98]

# Challenge 3.2 üìê

Consider a pyramid constructed of the numbers from **`0 to 9`**:
```
0
01
012
0123
01234
 ‚ãÆ
01234567890
012345678901
```

**`Print`** a pyramid with **`20`** layers.

In [ ]:
# your code here

### Solutions

In [66]:
# generate numbers for every line

for i in range(20):
    
    line = [str(j % 10) for j in range(i + 1)]
    
    print(''.join(line))

0
01
012
0123
01234
012345
0123456
01234567
012345678
0123456789
01234567890
012345678901
0123456789012
01234567890123
012345678901234
0123456789012345
01234567890123456
012345678901234567
0123456789012345678
01234567890123456789

In [68]:
# add to line through iteration

line = ''

for i in range(20):
    
    line += str(i % 10)
    
    print(line)

0
01
012
0123
01234
012345
0123456
01234567
012345678
0123456789
01234567890
012345678901
0123456789012
01234567890123
012345678901234
0123456789012345
01234567890123456
012345678901234567
0123456789012345678
01234567890123456789

---
# Challenge 4.1 üëÜüëá

Create a **`list`** that contains the numbers from **`0 to 100`** that increase in order and then comes back down again.

***`i.e.:`*** `[0, 1, 2, ..., 98, 99, 100, 99, ..., 3, 2, 1, 0]`.

In [ ]:
# your code here

### Solutions

In [85]:
# more complicated than needed

res = []

b, m = 0, 1

for i in range(201):
    
    if i > 100:
        b, m = 200, -1

    res.append(i*m + b)
    
print(res)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 99, 98, 97, 96, 95, 94, 93, 92, 91, 90, 89, 88, 87, 86, 85, 84, 83, 82, 81, 80, 79, 78, 77, 76, 75, 74, 73, 72, 71, 70, 69, 68, 67, 66, 65, 64, 63, 62, 61, 60, 59, 58, 57, 56, 55, 54, 53, 52, 51, 50, 49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [86]:
# two loops

res = []

for i in range(101): # range(101) to include 100
    res.append(i)

for i in reversed(range(100)):
    res.append(i)
    
print(res)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 99, 98, 97, 96, 95, 94, 93, 92, 91, 90, 89, 88, 87, 86, 85, 84, 83, 82, 81, 80, 79, 78, 77, 76, 75, 74, 73, 72, 71, 70, 69, 68, 67, 66, 65, 64, 63, 62, 61, 60, 59, 58, 57, 56, 55, 54, 53, 52, 51, 50, 49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [87]:
# straight from the range

res = list(range(101)) # range(101) to include 100

res += list(reversed(range(100)))

print(res)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 99, 98, 97, 96, 95, 94, 93, 92, 91, 90, 89, 88, 87, 86, 85, 84, 83, 82, 81, 80, 79, 78, 77, 76, 75, 74, 73, 72, 71, 70, 69, 68, 67, 66, 65, 64, 63, 62, 61, 60, 59, 58, 57, 56, 55, 54, 53, 52, 51, 50, 49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

# Challenge 4.2 üê±‚Äçüë§

Create a **`list`** that contains the numbers **`0 to 99`** where the numbers alternate between positives and negatives.

***`e.g.:`*** `[0, 1, -2, 3, -4, ..., 99]`

In [ ]:
# your code here

### Solutions

In [91]:
# with loop

res = []
m = 1

for i in range(100):
    
    m = -m # use a "switch"
    
    res.append(m*i)
    
print(res)

[0, 1, -2, 3, -4, 5, -6, 7, -8, 9, -10, 11, -12, 13, -14, 15, -16, 17, -18, 19, -20, 21, -22, 23, -24, 25, -26, 27, -28, 29, -30, 31, -32, 33, -34, 35, -36, 37, -38, 39, -40, 41, -42, 43, -44, 45, -46, 47, -48, 49, -50, 51, -52, 53, -54, 55, -56, 57, -58, 59, -60, 61, -62, 63, -64, 65, -66, 67, -68, 69, -70, 71, -72, 73, -74, 75, -76, 77, -78, 79, -80, 81, -82, 83, -84, 85, -86, 87, -88, 89, -90, 91, -92, 93, -94, 95, -96, 97, -98, 99]

In [94]:
# with list comprehension and conditional expression

res = [i if i%2 else -i for i in range(100)]

print(res)

[0, 1, -2, 3, -4, 5, -6, 7, -8, 9, -10, 11, -12, 13, -14, 15, -16, 17, -18, 19, -20, 21, -22, 23, -24, 25, -26, 27, -28, 29, -30, 31, -32, 33, -34, 35, -36, 37, -38, 39, -40, 41, -42, 43, -44, 45, -46, 47, -48, 49, -50, 51, -52, 53, -54, 55, -56, 57, -58, 59, -60, 61, -62, 63, -64, 65, -66, 67, -68, 69, -70, 71, -72, 73, -74, 75, -76, 77, -78, 79, -80, 81, -82, 83, -84, 85, -86, 87, -88, 89, -90, 91, -92, 93, -94, 95, -96, 97, -98, 99]

---

# Challenge 5.1 üëØ‚Äç‚ôÄÔ∏è
Create a **`dict`** whose keys are all the integers between **`1 to 100`** and whose values are the same as the keys.

***`i.e.:`*** 
```python
{1:1, 2:2, ..., 99:99, 100:100}
```

***`Bonus`*** for using a dictionary comprehension.

In [ ]:
# your code here

### Solutions

In [96]:
# with for loop

res = {}

for i in range(101):
    
    res[i] = i

print(res)

{0: 0, 1: 1, 2: 2, 3: 3, 4: 4, 5: 5, 6: 6, 7: 7, 8: 8, 9: 9, 10: 10, 11: 11, 12: 12, 13: 13, 14: 14, 15: 15, 16: 16, 17: 17, 18: 18, 19: 19, 20: 20, 21: 21, 22: 22, 23: 23, 24: 24, 25: 25, 26: 26, 27: 27, 28: 28, 29: 29, 30: 30, 31: 31, 32: 32, 33: 33, 34: 34, 35: 35, 36: 36, 37: 37, 38: 38, 39: 39, 40: 40, 41: 41, 42: 42, 43: 43, 44: 44, 45: 45, 46: 46, 47: 47, 48: 48, 49: 49, 50: 50, 51: 51, 52: 52, 53: 53, 54: 54, 55: 55, 56: 56, 57: 57, 58: 58, 59: 59, 60: 60, 61: 61, 62: 62, 63: 63, 64: 64, 65: 65, 66: 66, 67: 67, 68: 68, 69: 69, 70: 70, 71: 71, 72: 72, 73: 73, 74: 74, 75: 75, 76: 76, 77: 77, 78: 78, 79: 79, 80: 80, 81: 81, 82: 82, 83: 83, 84: 84, 85: 85, 86: 86, 87: 87, 88: 88, 89: 89, 90: 90, 91: 91, 92: 92, 93: 93, 94: 94, 95: 95, 96: 96, 97: 97, 98: 98, 99: 99, 100: 100}

In [102]:
# with dictionary comprehension

res = {i : i for i in range(101)}

print(res)

{0: 0, 1: 1, 2: 2, 3: 3, 4: 4, 5: 5, 6: 6, 7: 7, 8: 8, 9: 9, 10: 10, 11: 11, 12: 12, 13: 13, 14: 14, 15: 15, 16: 16, 17: 17, 18: 18, 19: 19, 20: 20, 21: 21, 22: 22, 23: 23, 24: 24, 25: 25, 26: 26, 27: 27, 28: 28, 29: 29, 30: 30, 31: 31, 32: 32, 33: 33, 34: 34, 35: 35, 36: 36, 37: 37, 38: 38, 39: 39, 40: 40, 41: 41, 42: 42, 43: 43, 44: 44, 45: 45, 46: 46, 47: 47, 48: 48, 49: 49, 50: 50, 51: 51, 52: 52, 53: 53, 54: 54, 55: 55, 56: 56, 57: 57, 58: 58, 59: 59, 60: 60, 61: 61, 62: 62, 63: 63, 64: 64, 65: 65, 66: 66, 67: 67, 68: 68, 69: 69, 70: 70, 71: 71, 72: 72, 73: 73, 74: 74, 75: 75, 76: 76, 77: 77, 78: 78, 79: 79, 80: 80, 81: 81, 82: 82, 83: 83, 84: 84, 85: 85, 86: 86, 87: 87, 88: 88, 89: 89, 90: 90, 91: 91, 92: 92, 93: 93, 94: 94, 95: 95, 96: 96, 97: 97, 98: 98, 99: 99, 100: 100}

# Challenge 5.2 üî•
Create a **`dict`** whose keys are all integers from **`0 to 99`**, and whose values are the mirroring numbers opposite the key in the range.

***`i.e.:`***
```python
{0:99, 1:98, 2:97, 3:96 ..., 98:1, 99:0}
```

In [ ]:
# your code here

### Solutions

In [99]:
# with for loop

res = {}

for i in range(100):
    
    res[i] = 99-i

print(res)

{0: 99, 1: 98, 2: 97, 3: 96, 4: 95, 5: 94, 6: 93, 7: 92, 8: 91, 9: 90, 10: 89, 11: 88, 12: 87, 13: 86, 14: 85, 15: 84, 16: 83, 17: 82, 18: 81, 19: 80, 20: 79, 21: 78, 22: 77, 23: 76, 24: 75, 25: 74, 26: 73, 27: 72, 28: 71, 29: 70, 30: 69, 31: 68, 32: 67, 33: 66, 34: 65, 35: 64, 36: 63, 37: 62, 38: 61, 39: 60, 40: 59, 41: 58, 42: 57, 43: 56, 44: 55, 45: 54, 46: 53, 47: 52, 48: 51, 49: 50, 50: 49, 51: 48, 52: 47, 53: 46, 54: 45, 55: 44, 56: 43, 57: 42, 58: 41, 59: 40, 60: 39, 61: 38, 62: 37, 63: 36, 64: 35, 65: 34, 66: 33, 67: 32, 68: 31, 69: 30, 70: 29, 71: 28, 72: 27, 73: 26, 74: 25, 75: 24, 76: 23, 77: 22, 78: 21, 79: 20, 80: 19, 81: 18, 82: 17, 83: 16, 84: 15, 85: 14, 86: 13, 87: 12, 88: 11, 89: 10, 90: 9, 91: 8, 92: 7, 93: 6, 94: 5, 95: 4, 96: 3, 97: 2, 98: 1, 99: 0}

In [103]:
# with dictionary comprehension

res = {i : 99-i for i in range(100)}

print(res)

{0: 99, 1: 98, 2: 97, 3: 96, 4: 95, 5: 94, 6: 93, 7: 92, 8: 91, 9: 90, 10: 89, 11: 88, 12: 87, 13: 86, 14: 85, 15: 84, 16: 83, 17: 82, 18: 81, 19: 80, 20: 79, 21: 78, 22: 77, 23: 76, 24: 75, 25: 74, 26: 73, 27: 72, 28: 71, 29: 70, 30: 69, 31: 68, 32: 67, 33: 66, 34: 65, 35: 64, 36: 63, 37: 62, 38: 61, 39: 60, 40: 59, 41: 58, 42: 57, 43: 56, 44: 55, 45: 54, 46: 53, 47: 52, 48: 51, 49: 50, 50: 49, 51: 48, 52: 47, 53: 46, 54: 45, 55: 44, 56: 43, 57: 42, 58: 41, 59: 40, 60: 39, 61: 38, 62: 37, 63: 36, 64: 35, 65: 34, 66: 33, 67: 32, 68: 31, 69: 30, 70: 29, 71: 28, 72: 27, 73: 26, 74: 25, 75: 24, 76: 23, 77: 22, 78: 21, 79: 20, 80: 19, 81: 18, 82: 17, 83: 16, 84: 15, 85: 14, 86: 13, 87: 12, 88: 11, 89: 10, 90: 9, 91: 8, 92: 7, 93: 6, 94: 5, 95: 4, 96: 3, 97: 2, 98: 1, 99: 0}

# Challenge 5.3 üêá
Create a **`list`** of numbers between <b>`0 to 99`</b> that alternate between opposite ends of the range.

***`i.e.:`*** `[0, 99, 1, 98, ..., 1, 99, 0]`

In [ ]:
# your code here

### Solutions

In [117]:
# more complicated than needed

res = []

for i in range(200):
    
    if i % 2 == 0:  # even numbers divided by 2
        n = int(i/2)
    
    else: # odd numbers - 1, divided by 2, and subtracted from 99
         n = 99 - int((i-1)/2) 
    
    res.append(n)
    
print(res)

[0, 99, 1, 98, 2, 97, 3, 96, 4, 95, 5, 94, 6, 93, 7, 92, 8, 91, 9, 90, 10, 89, 11, 88, 12, 87, 13, 86, 14, 85, 15, 84, 16, 83, 17, 82, 18, 81, 19, 80, 20, 79, 21, 78, 22, 77, 23, 76, 24, 75, 25, 74, 26, 73, 27, 72, 28, 71, 29, 70, 30, 69, 31, 68, 32, 67, 33, 66, 34, 65, 35, 64, 36, 63, 37, 62, 38, 61, 39, 60, 40, 59, 41, 58, 42, 57, 43, 56, 44, 55, 45, 54, 46, 53, 47, 52, 48, 51, 49, 50, 50, 49, 51, 48, 52, 47, 53, 46, 54, 45, 55, 44, 56, 43, 57, 42, 58, 41, 59, 40, 60, 39, 61, 38, 62, 37, 63, 36, 64, 35, 65, 34, 66, 33, 67, 32, 68, 31, 69, 30, 70, 29, 71, 28, 72, 27, 73, 26, 74, 25, 75, 24, 76, 23, 77, 22, 78, 21, 79, 20, 80, 19, 81, 18, 82, 17, 83, 16, 84, 15, 85, 14, 86, 13, 87, 12, 88, 11, 89, 10, 90, 9, 91, 8, 92, 7, 93, 6, 94, 5, 95, 4, 96, 3, 97, 2, 98, 1, 99, 0]

In [119]:
# append twice in each loop

res = []

for i in range(100):

    # append twice
    res.append(i)
    res.append(99-i)

print(res)

[0, 99, 1, 98, 2, 97, 3, 96, 4, 95, 5, 94, 6, 93, 7, 92, 8, 91, 9, 90, 10, 89, 11, 88, 12, 87, 13, 86, 14, 85, 15, 84, 16, 83, 17, 82, 18, 81, 19, 80, 20, 79, 21, 78, 22, 77, 23, 76, 24, 75, 25, 74, 26, 73, 27, 72, 28, 71, 29, 70, 30, 69, 31, 68, 32, 67, 33, 66, 34, 65, 35, 64, 36, 63, 37, 62, 38, 61, 39, 60, 40, 59, 41, 58, 42, 57, 43, 56, 44, 55, 45, 54, 46, 53, 47, 52, 48, 51, 49, 50, 50, 49, 51, 48, 52, 47, 53, 46, 54, 45, 55, 44, 56, 43, 57, 42, 58, 41, 59, 40, 60, 39, 61, 38, 62, 37, 63, 36, 64, 35, 65, 34, 66, 33, 67, 32, 68, 31, 69, 30, 70, 29, 71, 28, 72, 27, 73, 26, 74, 25, 75, 24, 76, 23, 77, 22, 78, 21, 79, 20, 80, 19, 81, 18, 82, 17, 83, 16, 84, 15, 85, 14, 86, 13, 87, 12, 88, 11, 89, 10, 90, 9, 91, 8, 92, 7, 93, 6, 94, 5, 95, 4, 96, 3, 97, 2, 98, 1, 99, 0]

---
# Challenge 6.1 ‚ùå

Create a **`function`** named `get_multiples()` that takes two integer arguments, **`n`** and **`limit`**. Both arguments should be non-zero, positive integers.

The function returns a list of all multiples of `n` that are less than or equal to `limit`.

***`e.g.:`***

`get_multiples(n=2, limit=10)` returns `[2, 4, 6, 8, 10]`

`get_multiples(n=3, limit=10)` returns `[3, 6, 9]`

What happens if you allow the function to take **`n = 0`** as an argument?

In [ ]:
# your code here

### Solutions

In [125]:
# with condition

def get_multiples(n, limit):
    
    res = []
    
    for i in range(limit+1):
        
        if i % n == 0: # if divisible
            res.append(i)
            
    return res

# show result
for n in range(2, 4):
    
    print(f'get_multiples(n={n},limit=10):', get_multiples(n, 10),'\n')

get_multiples(n=2,limit=10): [0, 2, 4, 6, 8, 10]

get_multiples(n=3,limit=10): [0, 3, 6, 9]

In [128]:
# using just range

def get_multiples(n, limit):
    
    res = list(range(n, limit+1, n))
    
    return res

# show result
for n in range(2, 4):
    
    print(f'get_multiples(n={n},limit=10):', get_multiples(n, 10), '\n')

get_multiples(n=2,limit=10): [2, 4, 6, 8, 10]

get_multiples(n=3,limit=10): [3, 6, 9]

In [129]:
# one liner with lambda function

get_multiples = lambda n, limit: list(range(n, limit+1, n))

# show result
for n in range(2, 4):
    
    print(f'get_multiples(n={n},limit=10):', get_multiples(n, 10), '\n')

get_multiples(n=2,limit=10): [2, 4, 6, 8, 10]

get_multiples(n=3,limit=10): [3, 6, 9]

# Challenge 6.2 üåΩ
Create a **`dict`** whose keys are all the number from **`1 to 100`**. The value for each key is the list of numbers between **`1 to 100`** that are multiples of the key.

***`i.e.:`***

```python
result == {
        1 : [1, 2, 3, ..., 100],
        2 : [2, 4, 6, ..., 100],
        3 : [3, 6, 9, ..., 99],
    
                ‚ãÆ
    
        100 : [100]
        }
```

***`Bonus:`*** use a dictionary comprehension.

In [ ]:
# your code here

### Solutions

In [155]:
# with for loop

res = {}

for i in range(1, 101):
    
    value = [] # create list
    
    for j in range(1, 101):
        
        if j % i == 0: # if divisible
            
            value.append(j)
            
    res[i] = value
    
# show result
for k, v in list(res.items())[:5]:
    print(f'{k}: {v}\n')
    
print('‚ãÆ')

1: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

2: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

3: [3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]

4: [4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44, 48, 52, 56, 60, 64, 68, 72, 76, 80, 84, 88, 92, 96, 100]

5: [5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]

‚ãÆ

In [156]:
# dictionary comprehension using previously defined function

res = {i : get_multiples(i, 100) for i in range(1, 101)}

# show result
for k, v in list(res.items())[:5]:
    print(f'{k}: {v}\n')
    
print('‚ãÆ')

1: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

2: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

3: [3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]

4: [4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44, 48, 52, 56, 60, 64, 68, 72, 76, 80, 84, 88, 92, 96, 100]

5: [5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]

‚ãÆ

In [157]:
# dict comprehension without previously defined function

res = {i : list(range(i, 101, i)) for i in range(1, 101)}


# show result
for k, v in list(res.items())[:5]:
    print(f'{k}: {v}\n')
    
print('‚ãÆ')

1: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

2: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

3: [3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]

4: [4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44, 48, 52, 56, 60, 64, 68, 72, 76, 80, 84, 88, 92, 96, 100]

5: [5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]

‚ãÆ

---
# Challenge 7.1 üìê

Consider a pyramid constructed of the numbers from **`0 to 9`**:
```
0
12
345
6789
01234
567890
 ‚ãÆ
```

**`Print`** a pyramid with **`20`** layers.

In [ ]:
# your code here

### Solutions

In [160]:

n = 0 # use counter independent of for loops

for i in range(10):
    
    line = '' # new string for every level
    
    for j in range(i+1):
        
        line += str(n % 10) # add to line
        
        n+=1 # increase counter
        
    print(line)

0
12
345
6789
01234
567890
1234567
89012345
678901234
5678901234

# Challenge 7.2 üï∞

Part 1: Create a **`function`** named `tell_time()` that takes an integer argument, **`t`**, representing time in seconds.

The function should return a message that tells how long `t` seconds are in **`years`, `days`, `hours`, `minutes`,** and **`seconds`**.

***`e.g.:`***

`tell_time(100)` returns `"...0 hr 1 m 40 s"`

`tell_time(5400)` returns `"...0 dy 1 hr 30 m 0 s"`

<br>

Part 2: **`Print`** the converted time for **`one billion`** seconds.

---

***`Bonus:`*** print output with only units that have non-zero values.

***`e.g.:`***

`tell_time(5400)` returns `"1 hr 30 m"`

`tell_time(86400)` returns `"1 dy"`

In [ ]:
# your code here

### Solutions

In [186]:
# rough method

# define modulos
s_m = 60
m_m = 60
h_m = 60
d_m = 24
y_m = 365

# define bases
s_b = 1
m_b = m_m * s_b
h_b = h_m * m_b
d_b = d_m * h_b
y_b = y_m * d_b

def tell_time(t):
    
    y = (t//y_b) % y_m
    d = (t//d_b) % d_m
    h = (t//h_b) % h_m
    m = (t//m_b) % m_m
    s = (t//s_b) % s_m
    
    return f'{y} yr {d} dy {h} hr {m} m {s} s'
    
    
for t in [100, 5400, 1_000_000_000]:
    print(f'tell_time({t}): \t', tell_time(t))

tell_time(100): 	 0 yr 0 dy 0 hr 1 m 40 s
tell_time(5400): 	 0 yr 0 dy 1 hr 30 m 0 s
tell_time(1000000000): 	 31 yr 6 dy 37 hr 46 m 40 s

In [187]:
# returning only non-zero values

units = [(y_b, y_m, 'yr'), (d_b, d_m, 'dy'), (h_b, h_m, 'hr'), (m_b, m_m, 'm'), (s_b, s_m, 's')]

def tell_time(t):
    
    res = []
    
    for base, mod, unit in units:
        v = int(t//base) % mod
        if v:
            res.append(str(v)+' '+unit)
            
    return ' '.join(res)

for t in [100, 5400, 86400, 1e6]:
    print(f'tell_time({t}): \t', tell_time(t))

tell_time(100): 	 1 m 40 s
tell_time(5400): 	 1 hr 30 m
tell_time(86400): 	 1 dy 24 hr
tell_time(1000000.0): 	 11 dy 37 hr 46 m 40 s